# Ignore RStudio specific files
.Rproj.user/
.Rhistory

# Ignore R environment files
.RData
.Ruserdata

# Ignore sensitive credentials and keys
config.yml
secrets.json
api_key.txt

# Ignore compiled code
*.dll
*.so

# Ignored datasets
data/20230412-20230719-BI1-BBIT4-1-StudentPerformanceDataset.CSV
data/20230412-20230719-BI1-BBIT4-1-StudentPerformanceDataset.txt
data/evaluation_likes_and_wishes.csv
data/evaluation_likes_filtered.csv
data/evaluation_wishes_filtered.csv